*{
    margin:0px;
    padding: 0px;
}

#contenedor{
    width: 960px;
    height: 800px;

    border: solid 3px;
    background-color: aqua;

    padding: 10px;


    

    
}

#izquierda{
    width: 300px;
    border: solid 1px;
    margin: 10px;

    text-align: center;
    background-color: greenyellow;
    float:left;

    

    
}
#derecha{
    width: 300px;
    border: solid 1px;
    margin: 10px;
    text-align: center;
    background-color: darkgrey;
    float: left;
}
    
#img{
    width: 100px;
    height: auto;
    display: block;
    padding: 35px;

}

.dureza{
      background-color: #F2F4F4;
    padding: 35px;
    border-color: black;

    
    
}
    
.talco{
      background-color: #E5E8E8;
        padding: 10px;
    }
    
    
.yeso{
      background-color: #CCD1D1;
        padding: 10px;
    }
    
    
.calcita{
      background-color: #B2BABB;
        padding: 10px;
    }
    
    
.Fluorita{
      background-color: #99A3A4;
        padding: 10px;
    }
    
    
.Apatito{
      background-color: #7F8C8D;
        padding: 10px;
    }

    .Ortosa{
      background-color: #707B7C;
          color: white;
                  padding: 10px;
    }
.Cuarzo{
      background-color: #515A5A;  
    color: white;
            padding: 10px;
    }
.Topacio{
      background-color: #4D5656;
      color: white;
              padding: 10px;
    }

.Corindon{
      background-color: #424949;
      color: white;
              padding: 10px;
    }

.Diamante{
      background-color: black;
      color: white;
              padding: 10px;
    }


    